[{:db/id #db/id [:db.part/db]
  :db/ident :ranking/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Title of a ranking"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :ranking/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "user who made the ranking"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :ranking/elements
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "things to be ranked"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :ranking/results
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "results of comparisons done by user"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :element/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "name of element to be ranked"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :element/image-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "url of image to be displayed for element"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :result/winning-element
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "winner of the comparison"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :result/losing-element
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "loser of the comparison"
  :db.install/_attribute :db.part/db}]
